@tailwind base;
@tailwind components;
@tailwind utilities;

#root figure {
  margin: 0;
  padding: 0;
  overflow: hidden;
  border-radius: 0.5rem;
}

#root pre {
  overflow-x: auto;
  padding: 1rem;
  background-color: #f8f8f8 !important;
}

@layer components {
  .text-hover {
    @apply hover:text-text-1 transition-colors duration-300;
  }
}

/* 需要css变量来给用户控制主题颜色 */
@layer base {
  /* 深色模式 */
  .dark {
    color-scheme: dark;
  }

  /* 基础样式 */
  body {
    background-color: var(--ep-color-bg-soft);
  }

  /* 基础颜色 */
  :root {
    --ep-color-divider-light: rgba(60, 60, 60, 0.29);
    --ep-color-divider-dark: rgba(84, 84, 84, 0.48);

    --ep-color-bg-soft-light: #f9f9f9;
    --ep-color-bg-soft-dark: #242424;
    --ep-color-bg-mute-light: #f1f1f1;
    --ep-color-bg-mute-dark: #2f2f2f;
    --ep-color-bg-inverse-light: #ffffff;
    --ep-color-bg-inverse-dark: #000000;

    --ep-color-text-light-1: #213547;
    --ep-color-text-light-2: rgba(60, 60, 60, 0.7);
    --ep-color-text-light-3: rgba(60, 60, 60, 0.33);
    --ep-color-text-light-4: rgba(60, 60, 60, 0.18);
    --ep-color-text-dark-1: rgba(255, 255, 255, 0.87);
    --ep-color-text-dark-2: rgba(235, 235, 235, 0.6);
    --ep-color-text-dark-3: rgba(235, 235, 235, 0.38);
    --ep-color-text-dark-4: rgba(235, 235, 235, 0.18);

    --ep-color-gray-1: #8e8e8e;
  }

  /* 白天主题 */
  :root {
    --ep-color-divider: var(--ep-color-divider-light);

    --ep-color-bg-soft: var(--ep-color-bg-soft-light);
    --ep-color-bg-mute: var(--ep-color-bg-mute-light);
    --ep-color-bg-inverse: var(--ep-color-bg-inverse-light);

    --ep-color-text-1: var(--ep-color-text-light-1);
    --ep-color-text-2: var(--ep-color-text-light-2);
    --ep-color-text-3: var(--ep-color-text-light-3);
    --ep-color-text-4: var(--ep-color-text-light-4);
  }

  /* 深夜主题 */
  .dark {
    --ep-color-divider: var(--ep-color-divider-dark);

    --ep-color-bg-soft: var(--ep-color-bg-soft-dark);
    --ep-color-bg-mute: var(--ep-color-bg-mute-dark);
    --ep-color-bg-inverse: var(--ep-color-bg-inverse-dark);

    --ep-color-text-1: var(--ep-color-text-dark-1);
    --ep-color-text-2: var(--ep-color-text-dark-2);
    --ep-color-text-3: var(--ep-color-text-dark-3);
    --ep-color-text-4: var(--ep-color-text-dark-4);
  }
}
